div.login-form-wrapper {
    display: flex;
    flex-direction: column;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 400px;
    min-width: 20rem;
    height: auto;
    background-color: #F5FCFF;
    border-radius: 14px;
}

div.login-form-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}

div.login-form-signup-title {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: .75rem;
}

div.login-form-login-title {
    padding: .75rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

div.login-form-nav > div.login-form-signup-title > button {
    font-family: 'Roboto', sans-serif;
    border: none;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}

div.login-form-nav h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: bold;
}

div.login-form-wrapper form {
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
}

div.login-form-wrapper ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    color: red;
    margin: 4px 0;
    padding: 0;
}

div.login-form-wrapper label {
    display: flex;
    flex-direction: column;
    margin: 6px 10px 12px;
}

div.login-form-wrapper input {
    width: 90%;
    align-self: center;
    border-radius: 6px;
    margin: 4px 0 0;
    padding: 3px;
}

div.button-interface {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

div.login-form-wrapper button.submit {
    font-family: 'Poppins', sans-serif;
    color: #dcdbcb;
    background-color: black;
    cursor: pointer;
    border: none;
    margin: 10px;
    width: 28%;
    font-size: 16px;
    padding: 6px 10px;
    border-radius: 16px;
}

div.login-form-wrapper button.submit:hover {
    color: white;
}
div.login-form-wrapper button.disabledsubmit{
    font-family: 'Poppins', sans-serif;
    color: #dcdbcb;
    background-color: #808080;
    cursor: pointer;
    border: none;
    margin: 10px;
    width: 28%;
    font-size: 16px;
    padding: 6px 10px;
    border-radius: 16px;
}
div.login-form-wrapper button.disabledsubmit:hover{
    cursor: default;
}

div.login-form-wrapper a.demo-user {
    color: #dcdbcb;
    background-color: #474844;
    cursor: pointer;
    border: none;
    margin: 10px;
    width: 28%;
    font-size: 16px;
    padding: 6px 10px;
    border-radius: 16px;
    text-align: center;
}

div.login-form-wrapper a.demo-user:hover {
    color: white;
}

div.login-form-signup-title {
    background-color: #BBD3C3;
    border-radius: 12px 0 0 0;
}

div.login-form-signup-title > button {
    color: #444846;
    background-color: #BBD3C3;
}


div.login-form-wrapper form input {
    padding-left: .5rem;
}
