@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Poppins&family=Roboto&display=swap');
.deleteWLContaint {
    background: #f2f2f2;
    height: 200px;
    width: 500px;
    border-radius: 15px;
    border: solid black 1px;
    font-family: 'Poppins', sans-serif;

}
.dltTxt{
    text-align: center;
    border-radius: 15px;
}
.dltTxt h2{
    font-family: 'Roboto', sans-serif;
    border-bottom: 1px solid black;
    border-radius: 15px 15px 0 0;
    background-color: #BBD3C3;
    margin-top: -2%;
    padding-top: 3%;
    padding-bottom: 3%;
}
.buttsContainer{
    height: 70px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.buttsContainer button{
    width: 150px;
    height: 50px;
    border-radius: 15px;
    border: 1px solid black;
    transition: all .2s ease-in-out;
}

.confirmYes:hover {
    border-radius: 25px;
    background: red;
}
.confirmNo:hover{
    border-radius: 25px;
    background: lightyellow;
}
