.portfolio-tab-wrapper {
    display: flex;
    position: relative;
    height: 100%;
    width: 100%;
    border-radius: 25px;
}

.portfolio-tab {
    background-color: whitesmoke;
    color: black;
    font-family: 'Montserrat', sans-serif;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    height: 400px;
    box-shadow: 1px 2px 2px grey, 2px 4px 4px grey,
    -1px 2px 2px grey, -2px 4px 4px grey;
}

.portfolio-table {
    border-radius: 0;
}

.portfolio-table-row {
    border-radius: none;
    width: 100%;
}

.portfolio-table-row:hover {
    cursor: pointer;
}

.portfolio-table-row > td {
    border: 0;
    padding: 10px;
}

.empty-table-tbody {
    height: inherit;
    overflow-y: auto;
}

.empty-table-td {
    font-family: 'Poppins', sans-serif;
    border: none;
}
