.WatchlistContainer {
    background-color: white;
    border-radius: 25px;
    font-family: 'Montserrat', sans-serif;
    color: black;
    width: 70%;
    height: 100vh;
    margin: 5% 0 2% 0;
    margin-left: 7%;
    position: relative;
    border: solid black 2px;
    overflow: auto;
    box-shadow: 1px 2px 2px grey, 2px 4px 4px grey,
    -1px 2px 2px grey, -2px 4px 4px grey,
    3px 0 3px gray, -3px 0 3px gray;
}

.wlTopBar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10px;
    margin-left: 3px;
    padding-top: 10px;
    /* border: 3px red dashed; */
    border-radius: 25px 25px 0 0;

}
.wltbTabs{
    display: flex;
    flex-direction: row;
}
.tabs{
    border: solid black 1px;
    background: #C9C9C9;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    margin-bottom: 0px;
    border-bottom: 1px solid transparent;
    cursor: pointer;
}
.active-tabs {
    background-color: #f2f2f2;
    border-bottom: 1px solid transparent;
    margin-bottom: -7px;
    margin-top: -2px;
    cursor: default;
}
.active-tabs::before{
    content: "";
    display: block;
    position: absolute;
    top: -5px;
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% +2px);
    height: 5px;
    background-color: blue;
}
.wlContent {
    height:fit-content;
    overflow-y: auto;
}

.content {
    background: rgb(13, 0, 255);
    /* padding-top: 20%;
    padding-bottom: ; */
    width: 100%;
    height: auto;
    display: none;
    margin: 0;
}
.content h2{
    padding: 0px 0 5px 0px
}

.content hr{
    width: 100px;
    height: 2px;
    margin-bottom: 5px;
}
.content p {
    width: 100%;
    height: 100%;
}
.active-content {
    display: block;
    border-top: 1px solid black;
    border-radius: 0 0 25px 25px;
    height: 100%;

}

.wlButton {
    width: 50px;
    height: 50px;
}
.addWatchlist {
    margin-right: 10px;
}
.addWatchlist button {
    padding: 0;
    height: 40px;
    width: 40px;
    font-size: x-large;
    background: transparent;
    border: 0;
    transition: all .2s ease-in-out;
    cursor: pointer;
}
/* .addWatchlist button > i{
    font-size: xx-large;
} */
.addWatchlist button:hover{
    font-size: xx-large;
}
.noListAdd {
    background-color: #f2f2f2;
    border-radius: 25px 25px;
    font-family: 'Montserrat', sans-serif;
    color: #dcdbcb;
    width: 500px;
    height: 100px;
    position: relative;
    left: 30px;
    top: 190px;
    overflow-y: auto;
    margin-left: 22%;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    box-shadow:
    2px 0px 2px grey, 3px 0px 3px grey, 4px 0px 4px grey,
    -2px 0px 2px grey, -3px 0px 3px grey, -4px 0px 4px grey;

}
.noListHeader {
    color:black;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: larger;
}
.addWatchlist {
    display: flex;
    justify-content: center;
}
.noListBack {
    height: 100vh;
    width: 100vw;
}
