.stockDetailsContainer {
  background-color: black;
  border-radius: 25px;
  font-family: 'Montserrat', sans-serif;
  color: white;
  width: 70%;
  height: 66%;
  position: absolute;
  right: 15%;
  top: 5%;
  overflow-y: auto;
}
.StockDetailsTopBar {
  margin: 4px;
  background: #f2f2f2;
  border: 3px solid black;
  border-radius: 25px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.sdtb_left {
  color: black;
  display: flex;
  flex-direction: row;
  margin-left: 8px;
}
.sdtb_left > p {
  margin: 5px;
}
.sdtb_right {
  margin-right: 8px;
}

.stockDetailMiddle {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.graph4Stock {
  border: 1px solid black;
  border-radius: 25px;
  background: #f2f2f2;
}
.SDMleftdiv {
  margin: 4px;
  color: black;
  grid-column-start: 1;
  grid-column-end: 2;
}
.SDMrightDiv {
  background-color: black;
  grid-column-start: 2;
  grid-column-end: 3;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}
.sdmDiv{
  margin: auto;
  background-color: #f2f2f2;
  height: 90px;
  width:170px;
  color: black;
  border: 1px solid black;
  border-radius: 25px;
  text-align: center;
}
.sdmDiv > p {
  display: flex;
  justify-content: center;
}
.rightdiv {
margin: auto;
border: 2px solid black;

}

table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  background-color: #f2f2f2;
  border: 1px solid black;
  border-radius: 25px;
  }

  .tableBar {
    margin: 8px;
  }

  th,
td{
  padding: 20px;
  color: black;
  text-align: center;
  border-bottom: black solid 1px;
}
td {
 border-right: 1px solid black;
}
