.body-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  background: linear-gradient(to top right, #588b69, 10%, #bbd3c3dc, 80%, #b3ffa0);
  justify-content: space-around;
  margin: 0;
  padding: 0;
}


div.stock-details-page-wrapper {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 60%;
  margin: 5% 0 2% 0%;
}

.stockDetailsContainer {
  background-color: black;
  display: flex;
  flex-direction: column;
  font-family: 'Montserrat', sans-serif;
  color: #dcdbcb;
  width: 100%;
  height: 100%;
  position: relative;
  border-radius: 25px 25px 0 0;
  box-shadow:
  2px 0px 2px grey, 3px 0px 3px grey, 4px 0px 4px lightgray,
  -2px 0px 2px grey, -3px 0px 3px grey, -4px 0px 4px grey;
}
.StockDetailsTopBar {
  margin: 1% 1% 0;
  background: #f2f2f2;
  border: 3px solid black;
  border-radius: 25px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 8%;
  padding: .5%;
}

div.small-screen {
  display: none;
}

.sdtb_left {
  color: black;
  display: flex;
  flex-direction: row;
  margin-left: 8px;
}
.sdtb_left > p {
  margin: 5px;
}
.sdtb_right {
  margin-right: 1%;
}

.stdb_right.small-screen {
  display: none;
}

.sdtb_right > button {
  background-color: #474844;
  color: #dcdbcb;
  padding: 6px;
  border-radius: 10px;
  border: solid 1px black;
}

.sdtb_right > button:hover {
  color: white;
  cursor: pointer;
}

.stockDetailMiddle {
  display: grid;
  height: 80%;
  grid-template-columns: 1fr 1fr;
  margin: 0;
}
.graph4Stock {
  border: 1px solid black;
  border-radius: 25px;
  background: #f2f2f2;
  margin: 2% 1% 2% 2%;
}
.SDMleftdiv {
  margin: 4px;
  color: black;
  height: 80%;
  grid-column-start: 1;
  grid-column-end: 2;
}
.SDMrightDiv {
  background-color: black;
  grid-column-start: 2;
  grid-column-end: 3;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  margin: 0 0 0 0;
}
.sdmDiv{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #1f1f1f;
  height: 60%;
  width: 60%;
  color: #dcdbcb;
  border: 1px solid black;
  border-radius: 25px;
  text-align: center;
}

.sdmP  {
  font-family: 'Roboto', sans-serif;
  font-size: 22px;
  margin: 0;
}

p.position-checker {
  font-family: 'Roboto', sans-serif;
  font-size: 22px;
}

.sdmDiv p.sdmDiv-heading {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 2% 0;
}

.sdmDiv.top-left {
  margin: 20% 10% 15% 25%;
}

.sdmDiv.top-right {
  margin: 20% 15% 15% 10%;
}

.sdmDiv.bottom-left {
  margin: 10% 10% 0 25%;
}

.sdmDiv.bottom-right {
  margin: 10% 15% 0% 10%
}

.sdmDiv > p {
  display: flex;
  justify-content: center;
}
.rightdiv {
border: 2px solid black;

}

div.StockDetailBottom {
  margin: 0% 1.5% 1%;
}

table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  background-color: #f2f2f2;
  border: 1px solid black;
  border-radius: 25px;
  overflow: hidden;
  }


th, td {
  padding: 20px;
  color: black;
  text-align: center;
  border-bottom: black solid 1px;
}
td {
 border-right: 1px solid black;
}

td.table-issue {
  padding: 0;
  border-right: none;
}

#woah {
  background-color: #f2f2f2;
}

@media screen and (max-width: 600px) {
  div.stock-details-page-wrapper {
    width: 85%;
    margin-left: 4rem;
  }

  .stockDetailsContainer {
    margin-top: 2rem;
    width: 100%;
  }

  .sdmDiv {
    display: none;
  }

  .StockDetailsTopBar {
    font-size: .65rem;
  }

  .StockDetailsTopBar .sdtb_right.normal {
    display: none;
  }

  .StockDetailsTopBar .stdb_right.small-screen {
    display: flex;
  }

  div.small-screen {
    display: flex;
  }

  div.small-screen > button {
    font-size: .75rem;
    margin-right: .5rem;
    padding: .25rem;
  }

  .tableBar {
    margin-bottom: 1rem;
  }

  tr.no > th {
    padding: 0;
  }

  tr.no > td {
    padding: 0;
  }

  #fixRad {
    width: 100%;
  }

  #noBord {
    display: none;
  }

  #open {
    display: none;
  }

  .close {
    display: none;
  }

  .mixed-chart {
    width: 24rem;
    margin-right: 1rem;
  }
}

@media screen and (max-width: 768px) {
  div.stock-details-page-wrapper {
    width: 85%;
    margin-left: 5rem;
  }

  .stockDetailsContainer {
    margin-top: 2rem;
    width: 100%;
  }

  div.normal button {
    margin-right: .5rem;
  }

  div.SDMrightDiv div p.sdmDiv-heading {
    font-size: .85rem;
  }

  div.SDMrightDiv div p {
    font-size: .85rem;
  }

  div.SDMrightDiv > div {
    padding: .5rem;
  }

  .graph4Stock {
    margin: 2rem 0;
  }

  tr.no > th {
    padding: 0;
  }

  tr.no > td {
    padding: 0;
  }

  #noBord {
    display: none;
  }

  #fixRad {
    width: 100%;
  }
}

@media screen and (max-width: 830px) {
  div.stock-details-page-wrapper {
    width: 85%;
    margin-top: 3rem;
    margin-left: 4rem;
  }

  .graph4Stock {
    margin: 2rem 0;
  }

  div.normal button {
    margin-right: .5rem;
  }

  div.SDMrightDiv div p.sdmDiv-heading {
    font-size: .85rem;
  }

  div.SDMrightDiv div p {
    font-size: .90rem;
  }

  div.SDMrightDiv > div {
    padding: .5rem;
  }

  .no > th {
    font-size: .65rem;
  }

  #noBord {
    display: none;
  }

  #fixRad {
    width: 100%;
  }
}

@media screen and (max-width: 950px) {
  div.stock-details-page-wrapper {
    margin-top: 3rem;
    margin-left: 1rem;
  }

  div.normal button {
    margin-right: .5rem;
  }

  .graph4Stock {
    margin: 2rem 0;
  }

  .no > th {
    font-size: .65rem;
  }

  #fixRad {
    width: 100%;
  }
}

@media screen and (max-width: 1025px) {
  .graph4Stock {
    margin: 2rem 0;
  }

  .no > th {
    font-size: .75rem;
  }

  tr.no > td {
  font-size: .75rem;
  }

  #fixRad {
    width: 100%;
  }
}
