@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Poppins&family=Roboto&display=swap');

html {
    overflow-x: hidden;
    overflow-y: auto;
}

div.page-wrapper {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    background-color: black;
}

div.landing-navigation-wrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    border-bottom: 2px solid #dcdbcb;
    height: 6%;
}

div.landing-navigation-left {
    margin-left: 3%;
}

div.landing-navigation-right {
    width: 20%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 3%;
}

div.landing-navigation-left h1 {
    color: #dcdbcb;
    font-family: 'Roboto', sans-serif;
    margin: 12px;
    margin-bottom: 6px;
}

div.landing-navigation-right button {
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    border: none;
    color: #dcdbcb;
    background-color: black;
    margin: 10px;
    font-size: 24px;
}

div.landing-navigation-right button:hover {
    color: white;
    cursor: pointer;
}

div.landing-content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

div.landing-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100%;
    width: 100%;
}

div.landing-content-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #dcdbcb;
    height: 100%;
    width: 100%;
    margin: 10% 0 10% 5%;
}

div.landing-content-image {
    width: 100%;
    height: fit-content;
    margin: 5% 5% 3% 0;
}

div.landing-content-text h2 {
    font-size: 28px;
    font-family: 'Poppins', sans-serif;
    margin-top: 4%;
}

div.landing-content-image img {
    height: 100%;
    width: 100%;
}

div.landing-signup-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2%;
}

div.landing-signup-statement {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #d1a448;
    margin: 20px;
}

div.landing-signup-statement p {
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    margin: 0;
    padding: 0;
    font-size: 24px;
}

div.landing-signup-section button {
    background-color: #dcdbcb;
    font-size: 18px;
    border-radius: 20px;
    padding: 8px 12px;
    margin: 10%;
    cursor: pointer;
}
