.bottom-tab-menu {
    position: relative;
    background-color: white;
    color: black;
    left: 7%;
    width: 75%;
    margin-top: 30px;
}
.bottom-tab-menu th {
    background-color: white;
    color: black;
}

.bottom-portfolio-menu{
    background-color: white;
    color: black;
}
