.bottom-tab-menu {
    position: relative;
    background-color: white;
    color: black;
}
.bottom-tab-menu th {
    background-color: white;
    color: black;
}

.bottom-portfolio-menu{
    background-color: white;
    color: black;
}
