.bottom-tab-wrapper {
    width: 100%;
    height: 50%;
    position: relative;
    border: none;
    margin: 0;
    box-shadow: 2px 0px 2px grey, 3px 0px 3px grey, 4px 0px 4px grey,
    -2px 0px 2px grey, -3px 0px 3px grey, -4px 0px 4px grey;
    font-family: 'Montserrat', sans-serif;
    border-radius: 0 0 25px 25px;
}

.bottom-tab-menu {
    position: relative;
    background-color: white;
    color: black;
    width: 100%;
    border-radius: 0 0 25px 25px;
}
.bottom-tab-menu th {
    background-color: white;
    color: black;
}

.bottom-portfolio-menu{
    background-color: white;
    color: black;
}

.bottom-tab-menu button {
    color: black;
    border: none;
    width: fit-content;
    height: 100%;
    cursor: pointer;
    background-color: #e2dfdf;
    font-size: 16px;
    padding: 10px 15px;
    font-weight: 700;
}

#portfolio-active {
    background-color: white;
}

#order-active {
    background-color: white;
}
