body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

div.nav-wrapper {
  position: relative;
  height: 100vh;
  width: 10%;
}

ul.navigation-shell {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  background-color: #1f1f1f;
  height: 100%;
  width: 220px;
}

div.navigation-layer {
  margin: 10px 0;
  border-radius: 12px;
}

li.navigation-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: #dcdbcb;
  width: 100%;
}

li.navigation-item a {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-decoration: none;
  color: #dcdbcb;
  width: 100%;
  font-size: 18px;
  padding: 6px 8px 6px 8px;
}

li.navigation-item.add-funds {
  width: 100%;
  padding: 6px 0 6px 0;
}

li.navigation-item.add-funds:hover {
  background-color: #373737;
}

li.navigation-item.add-funds button {
  font-size: 18px;
  color: #dcdbcb;
  background-color: inherit;
  border: none;
}

li.navigation-item-add-funds > div.nav-content-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
}

li.navigation-item.add-funds button:hover {
  cursor: pointer;
}

li.navigation-item.add-funds button div.nav-context {
  padding-left: 48px;
  padding-right: 8px;
  color: #dcdbcb;
}

li.navigation-item.current-funds p {
  padding: 12.8px 8px 0 8px;
  margin: 0;
}

div.nav-content-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 4px;
}

li.navigation-item.add-funds div.nav-svg svg {
  margin: 0 0 0 8px;
}

div.nav-top {
  width: 100%;
}

div.nav-bottom {
  width: 100%
}

p.current-funds-context {
  font-size: 12px;
}

p.current-funds-number {
  font-size: 12px;
}

li.navigation-item a:hover {
  background-color: #373737;
}

.active {
  background-color: #373737;
}

li.navigation-item.logout > div.nav-content-wrapper {
  width: 100%;
  font-size: 18px;
  padding: 10px 14px;
}

li.navigation-item.logout div.nav-content-wrapper:hover {
  cursor: pointer;
  background-color: #373737;
}

div.user-greeting-wrapper {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #dcdbcb;
}
