.order-tab-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
}

.order-tab {
    display: flex;
    flex-direction: column;
    text-align: left;
    background-color: #f1efef;
    color: black;
    font-family: 'Montserrat', sans-serif;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    padding: 10px;
    box-shadow: 2px 0px 2px grey, 3px 0px 3px grey, 4px 0px 4px grey,
    -2px 0px 2px grey, -3px 0px 3px grey, -4px 0px 4px grey;
}


form.stock-search {
    width: 100%;
    border-bottom: 1px black solid;
    margin: 2px;
}

.order-tab-detail-flex {
    display: flex;
}

#buy-button {
    background-color: rgb(44, 173, 44);
    padding: 12px 24px;
    color: white;
    border: 1px solid black;
}

#sell-button {
    background-color: rgb(219, 14, 14);
    padding: 12px 24px;
    color:white;
    border: 1px solid black;
}

#buy-button:disabled {
    background-color: gray;
}

#sell-button:disabled {
    background-color: gray;
}

.order-tab-left {
    display: block;
    width: 70%;
}

.transaction-info {
    display: flex;
    flex-direction: column;
    background-color: white;
    top: 30%;
    width: 90%;
    padding: 8px 14px;
    margin: 0 0 12px 15px;
    box-shadow: 2px 4px 4px #2f2f2f, 1px 2px 2px #2f2f2f,
    -2px 4px 4px #2f2f2f, -1px 2px 2px #2f2f2f;
}

.transaction-form {
    display: flex;
    flex-direction: row;
}

div.transaction-details label{
    margin: 1em 0;
}

div.transaction-details select {
    margin: 8px 0;
    padding: 0;
}

div.transaction-details input {
    margin: 8px 0;
    padding: 0;
}

.transaction-details {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

.stock-info {
    display: inline-block;
    padding: 20px;

}
.search-info {
    display: inline-block;
}

.stock-negative {
    color: red
}

.stock-positive {
    color: green;
}

.stock-info {
    display: inline-block;
    padding: 20px;
}

.search-info {
    display: inline-block;
    vertical-align: top;
    margin-left: 10px;
}

.right-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    height: 100%;
    width: 30%;
    right: 0%;
}

.order-tab-button-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}

.order-type-flex {
    display: flex;
    margin: 48px;
    align-items: center;
}

.order-type-flex form {
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.order-type-flex label {
    text-align: center;
    width: 100%;
    padding: 0 0 18px 0;
    border-bottom: 1px solid black;
}

.order-type-flex select {
    font-size: 14px;
    margin: 36px;
}

.order-input {
    width: 5rem;
    text-align: right;
}

#buy-button {
    border-radius: 10px;
}

#sell-button {
    border-radius: 10px;
}

@media screen and (max-width:600px) {
    .order-tab form {
        font-size: .85rem;
    }

    .order-tab p {
        font-size: .75rem;
    }

    .order-tab-detail-flex {
        margin: 2rem 0 0 -.75rem;
    }

    .right-info {
        margin-left: 1rem;
    }

    #buy-button {
        font-size: .75rem;
        padding: .5rem .75rem;
    }

    #sell-button {
        font-size: .75rem;
        padding: .5rem .75rem;
    }
}
