.order-tab {
    text-align: left;
    background-color: black;
    color: white;
    font-family: 'Montserrat', sans-serif;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    padding: 10px;
    box-shadow: 2px 0px 2px grey, 3px 0px 3px grey, 4px 0px 4px grey,
    -2px 0px 2px grey, -3px 0px 3px grey, -4px 0px 4px grey;

}

#root {
    width: -100%;
}
