.order-tab {
    text-align: left;
    background-color: black;
    color: white;
    font-family: 'Montserrat', sans-serif;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    padding: 10px;
}
