@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Poppins&family=Roboto&display=swap');
.editWatchlistContainer{
    height: 175px;
    width: 500px;
    background: #f2f2f2;
    border: 1px solid black;
    border-radius: 15px;
    font-family: 'Poppins', sans-serif;
}
.ewlhead{
    text-align: center;
    padding: 5px;
    padding-bottom: 0px;
    font-family: 'Roboto', sans-serif;
    border-bottom: 1px solid black;
    border-radius: 15px 15px 0 0;
    background-color: #BBD3C3;
}
.ewlFormContainer{
    display: flex;
    justify-content: center;
}
.ewlForm{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.ewlTxtInput{
    display: flex;
    flex-direction: column;
    align-items: center;

}
.ewlNameInput{
    border-radius: 5px;
    border: 1px black solid;
    width: 25ch;
    margin: 2px;
}
.theEButton{
    margin-top: 7px;
}
.ewlButt{
    background:#707f8f;
    color: #f2f2f2;
    border-radius: 5px;
    font-size: medium;
    transition: all .1s ease-in-out;
}
.ewlButt:hover{
    color:#707f8f;
    background: #f2f2f2;
    border-radius: 5px;
    font-size: medium;
}
.nameErrDiv {
    color: red;
}
