.transaction-table {
  height: 20rem;
  overflow-y: auto;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  position: static;
 }

 .table-head {
   position: -webkit-sticky;
   position: sticky;
   top: 0;
   background-color: white;
   margin-left: 4.65rem;
 }
