.WatchlistsBarContainer {
    background: #f2f2f2;
    font-family: 'Montserrat', sans-serif;
    width: 215px;
    height: fit-content;
    position: fixed;
    right: 0%;
    border: solid grey 1px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    box-shadow: -2px 4px 4px grey, -1px 2px 2px grey;
}
.wlbMenuSelect{
 width: 100%;
}

.Dtabs {
background: #f2f2f2;
border-bottom: 1px solid black;
padding-left: 5px;
height: 35px;
display: grid;
grid-template-columns: 1fr 1fr;
}
.dropName {
    grid-column-start: 1;
    grid-column-end: 2;
}
.upDown {
    grid-column-start: 2;
    grid-column-end: 3;
    position: relative;
}
.activeDrop {
    position: absolute;
    right: 5%;
    bottom: 10px;

}
.drop{
    position: absolute;
    right: 5%;
    bottom: 10px;
    display: none;
}
.activeUp {
    position: absolute;
    right: 5%;
    bottom: 10px;

}
.up {
    position: absolute;
    right: 5%;
    bottom: 10px;
    display: none;
}
.Dactive-tabs{
background: #f2f2f2;
border-bottom: 1px solid black;
padding-left: 5px;
height: 35px;
display: grid;
grid-template-columns: 1fr 1fr;
}

.Dcontent {
    display: none;
}

.wlBarTitle{
    display: flex;
    justify-content: center;
    padding: 25px;
}
