.main-page {
    background-color: black;
    border-radius: 25px;
    font-family: 'Montserrat', sans-serif;
    color: white;
    width: 70%;
    height: 100%;
    position: absolute;
    right: 15%;
    top: 10%;
}

.main-page img {
    width: 50%;
}

.empty-portfolio {
    text-align: center;
}
.chart {
    width: 50%;
    margin: 50px;
}

.growth-buttons {
    position: absolute;
    display: flex;
    float: right;
    top: 5%;
    align-items: center;
    left: 55%;
    width: 50%;
    flex-wrap: wrap;
}
