div.main-page-wrapper {
    display: flex;
    flex-direction: column;
    background-color: #bbd3c3dc;
}

.main-page {
    background-color: black;
    border-radius: 25px;
    font-family: 'Montserrat', sans-serif;
    color: white;
    width: 75%;
    height: 60%;
    position: relative;
    right: 15%;
    top: 10%;
    margin: 0% 0 0 22%;
    overflow-y: auto;
}

.main-page img {
    width: 50%;
}

.empty-portfolio {
    text-align: center;
}
.chart {
    width: 50%;
    margin: 50px;
}

.growth-buttons {
    position: absolute;
    display: flex;
    float: right;
    top: 1%;
    right: 1px;
    width: 50%;
    flex-wrap: wrap;
}
